<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${titulo}"></title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>
	<ul>
		<li> <a th:href="@{/variables/string/} + 'Hola Leo'"> /variables/string/Hola Leo </a> </li>
		<li> <a th:href="@{/variables/string/} + 'Hola Mario'"> /variables/string/Hola Mario</a> </li>
		<li> <a th:href="@{/variables/string/} + 'Hasta luego Leo ' + '/7'"> /variables/string/Hasta luego Leo 7</a> </li>
	</ul>
	

</body>
</html>